//variables
$primary: blue !default;
$secondary: #8a8a8a !default;
$sucess: green !default;
$info: cyan !default;
$warning: red !default;
$danger: red !default;
$light: #a1a1a1 !default;
$pink-light: #cf649a;
