@import "./scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.color {
  background-color: $dark;
  color: $pink-light;
}

.font {
  font-family: "Gloria Hallelujah";
}

.card {
  @extend .center;
  @extend .color;
  @extend .font;
  height: 400px;
  gap: 10px;

  button {
    @extend .color;
    background-color: $light;
  }

  p {
    text-align: justify;
  }

}
